<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block head %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href='http://fonts.googleapis.com/css?family=Rosario:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('components/normalize-css/normalize.css')}}" />
        <link rel="stylesheet" href="{{asset('components/opentip/css/opentip.css')}}" />

        {% stylesheets
            '@NightDisplayBundle/Resources/public/less/main.less'
            filter="cssrewrite"
        %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block javascriptLibs %}
        <script type="text/javascript" src="{{asset('components/jquery/dist/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('components/Snap.svg/dist/snap.svg.js')}}"></script>
        <script type="text/javascript" src="{{asset('components/jquery-waypoints/waypoints.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('components/opentip/downloads/opentip-jquery.js')}}"></script>
        <script type="text/javascript" src="{{asset('components/jquery.scrollTo/jquery.scrollTo.min.js')}}"></script>

        {% javascripts
            '@NightDisplayBundle/Resources/public/js/lib/classie.js'
            '@NightCommonBundle/Resources/public/js/night-util.js'
            '@NightDisplayBundle/Resources/public/js/lib/modernizr.custom.js'
            '@NightDisplayBundle/Resources/public/js/lib/svgLoader.js'
            '@NightDisplayBundle/Resources/public/js/lib/sideBarEffect.js'
            '@NightDisplayBundle/Resources/public/js/lib/thumbsGrid.js'
            '@NightDisplayBundle/Resources/public/js/lib/svgHoverEffect.js'
            '@NightDisplayBundle/Resources/public/js/lib/svgPathDraw.js'
            '@NightDisplayBundle/Resources/public/js/lib/fullWindowPanel.js'
            '@NightDisplayBundle/Resources/public/js/lib/svgDrawLoader.js'
            '@NightDisplayBundle/Resources/public/js/lib/skillBarManager.js'
            '@NightDisplayBundle/Resources/public/js/lib/svgicons.js'
            '@NightDisplayBundle/Resources/public/js/svgicons-config.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body>

    {#
    # ----- ============= Loading widget
    #}
    {% include 'NightDisplayBundle:Main:loading.html.twig' %}

    {% set activePage = (activePage is defined) ? activePage : 'main' %}
    <div class="st-container">

        {% block body %}

            {# ----- Header ------ #}
            <header class="st-menu st-effect-11">
                {{ render_esi(controller('NightDisplayBundle:Layout:header')) }}
            </header>

            <div id="tools-link">
                <button id="menu-door" class="st-trigger-effects st-trigger-open" href="#" data-effect="st-effect-11">
                    <img src="{{ asset('bundles/nightdisplay/images/icons/menu9.svg') }}" alt=""/>
                </button>
            </div>

            {# ----- Main Page ------ #}
            <div id="page-main" class="st-pusher {% if activePage == 'annex' %} hide{% endif %}">
                <div class="st-content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

            {# ----- Annex Page ------ #}
            <div id="page-annex" class="st-pusher{% if activePage == 'main' %} hide{% endif %}">
                <div class="st-content">
                {% block content_annex %}
                {% endblock %}
                </div>
            </div>

            {# ----- Footer ------ #}
            <footer>
            </footer>
        {% endblock %}
    </div>

    {% block javascripts %}
        {% javascripts
            '@NightDisplayBundle/Resources/public/js/waypoints-events.js'
            '@NightDisplayBundle/Resources/public/js/app.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>
            $(document).ready(function() {

                // Page loader
                // ____________
                var pageLoader = new PageLoaded();
                window.pageLoader = pageLoader;
                setTimeout(function() {pageLoader.hide();}, 1000);

                //  App instance
                // ____________
                var pageType = "{{ pageType|default('annex')}}";
                var app = new App(pageType, pageLoader);

                app.setPagesLoaded(pageType, '{{ app.request.requestUri }}');
                window.app = app;

                //  Full screen window
                // ____________
                var wp = new FullWindowPanel({itemsSelector: ['#home', '#contact']}, true);

                //  Events
                // ____________
                $(app).on('App.showPage', function() {
                    wp.resize();
                })

                $(wp).on('FullWindowPanel.resized', function() {
                   console.log('sdsada');
                });
            });
        </script>
    {% endblock %}
</body>
</html>