<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block head %}{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="/components/normalize-css/normalize.css" />

        {% stylesheets
            '@NightDisplayBundle/Resources/public/less/main.less'
            filter="cssrewrite"
        %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block javascriptLibs %}
        <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/components/Snap.svg/dist/snap.svg-min.js"></script>
        <script type="text/javascript" src="/components/jquery-waypoints/waypoints.min.js"></script>

        {% javascripts
            '@NightDisplayBundle/Resources/public/js/lib/classie.js'
            '@NightDisplayBundle/Resources/public/js/lib/modernizr.custom.js'
            '@NightDisplayBundle/Resources/public/js/lib/svgLoader.js'
            '@NightDisplayBundle/Resources/public/js/lib/sideBarEffect.js'
            '@NightDisplayBundle/Resources/public/js/lib/thumbsGrid.js'
            '@NightDisplayBundle/Resources/public/js/lib/svgHoverEffect.js'
            '@NightDisplayBundle/Resources/public/js/lib/svgPathDraw.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body>

    {#
    # ----- ============= Loading widget
    #}
    {% include 'NightDisplayBundle:Main:loading.html.twig' %}

    <div class="st-container">

        {% block body %}

            {# ----- Header ------ #}
            <header class="st-menu st-effect-11">
                {{ render_esi(controller('NightDisplayBundle:Layout:header')) }}
            </header>

            <div id="tools-link">
                <button id="menu-door" class="st-trigger-effects st-trigger-open" href="#" data-effect="st-effect-11">
                    <img src="{{ asset('bundles/nightdisplay/images/icons/menu9.svg') }}" alt=""/>
                </button>
            </div>

            {# ----- Main Page ------ #}
            <div id="page-main" class="st-pusher">
                <div class="st-content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

            {# ----- Annex Page ------ #}
            <div id="page-annex" class="st-pusher hide">
                {% block content_annex %}
                {% endblock %}
            </div>

            {# ----- Footer ------ #}
            <footer>
            </footer>
        {% endblock %}
    </div>



    {% block javascripts %}
        {% javascripts
            '@NightDisplayBundle/Resources/public/js/waypoints-events.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>
            $(document).ready(function() {

                //
                // ============ Loader
                // ________________________________________________________________
                function PageLoading()
                {
                    this.loader = new SVGLoader( document.getElementById( 'loading-overlay' ), { speedIn : 400, easingIn : mina.easeinout } );
                    this.loaderItems = [].slice.call(document.querySelectorAll('#loading-overlay .loader'));
                }

                PageLoading.prototype.hide = function () {
                    this.loaderItems.forEach(function(el) { classie.addClass(el, 'hide')});
                    this.loader.hide();
                }

                PageLoading.prototype.show = function () {
                    this.loaderItems.forEach(function(el) { classie.removeClass(el, 'hide')});
                    this.loader.show();
                }

                var pageLoading = new PageLoading();
                window.pageLoading = pageLoading;

                setTimeout(function() {pageLoading.hide();}, 1000);


                //
                // ============ Skill bar
                // ________________________________________________________________

                $('.skillbar').each(function() {
                    var $barItems = $(this).find('.skillbar-bar, .skill-bar-percent');
                    $barItems.width($(this).data('percent'));
                });


                //
                // ============ AJAX Page load
                // ________________________________________________________________

                // Kind of page cache
                var pagesLoaded = {'main': '', 'annex': ''};
                window.pagesLoaded = pagesLoaded;

                function loadPage(pageType, url)
                {
                    pageLoading.show();
                    if (pagesLoaded[pageType] == url) {
                        setTimeout(function() {
                            showPage(pageType);
                            pageLoading.hide();
                        }, 1000)
                        return;
                    }

                    $.get(url, {})
                            .done(function (data) {
                                var pageToShow = (pageType == 'annex') ? '#page-annex' : '#page-main';
                                showPage(pageType);

                                $(pageToShow).html(data);
                                pagesLoaded[pageType] = document.location.pathname;
                            })
                            .fail(function () {
                                console.log('fail');
                            })
                            .always(function () {
                                pageLoading.hide();
                            })
                }

                function showPage(pageType)
                {
                    var pageToHide = (pageType == 'annex') ? '#page-main:not(".hide")' : '#page-annex:not(".hide")';
                    var pageToShow = (pageType == 'annex') ? '#page-annex' : '#page-main';

                    $(pageToHide).addClass('hide');
                    $(pageToShow).removeClass('hide');
                }

                $('body').on('click', '.ajax', function(event) {
                    event.preventDefault();
                    var url = $(this).attr('href');
                    history.pushState({some: 'thing'}, url, url);
                    var pageType = $(this).data('page') ? $(this).data('page') : 'annex';
                    loadPage(pageType, url);
                });

                window.onpopstate = function(event) {
                    loadPage(document.location.pathname);
                }
            });
        </script>
    {% endblock %}
</body>
</html>