<section class="project" class="page">>
    <div class="container fluid">

        <div class="content">

            <div class="controls">
                {% if previousProject %}
                    <a id="previous-project" class="bt-control ajax" data-page="annex" href="{{ path('project_show', {id: previousProject.id}) }}">
                        {{ includeAsset('/bundles/nightdisplay/images/icons/i-arrow-right.svg') |raw }}
                    </a>
                {% else %}
                    <a id="previous-project" class="bt-control disabled" >
                        {{ includeAsset('/bundles/nightdisplay/images/icons/i-arrow-right.svg') |raw }}
                    </a>
                {% endif %}
                <a id="close-project" class="bt-control ajax ajax-main" >
                    {{ includeAsset('/bundles/nightdisplay/images/icons/i-cross.svg') |raw }}
                </a>
                {% if nextProject %}
                    <a id="next-project" class="bt-control ajax" data-page="annex" href="{{ path('project_show', {id: nextProject.id}) }}">
                        {{ includeAsset('/bundles/nightdisplay/images/icons/i-arrow-right.svg') |raw }}
                    </a>
                    {% else %}
                    <a id="next-project" class="bt-control disabled" >
                        {{ includeAsset('/bundles/nightdisplay/images/icons/i-arrow-right.svg') |raw }}
                    </a>
                {% endif %}
            </div>

            <h1>KMJ</h1>
            <div class="picture">
                {% set image = util_image.getOrderedImages(project)|first %}
                <a class="wrapper">
                    <img src="{{ image.path }}" alt=""/>
                </a>
            </div>
            <div class="goals">
                <h2>Goals</h2>
                <p>{{ project.shortDescription }}</p>

            </div>
            <div class="technologies">
                <h2>Technologies</h2>
                <ul class="language-list">
                    <li>{{ includeAsset('/uploads/images/languages/php.svg') |raw }}</li>
                    <li>{{ includeAsset('/uploads/images/languages/html5.svg') |raw }}</li>
                </ul>
            </div>
            <div class="technical-points">
                <h2>Technical points</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</section>
